@import "{}/imports/ui/stylesheets/not-found.less";
//@import "{}/imports/ui/stylesheets/bootstrap/scss/_custom.scss";
//@import "{}/imports/ui/stylesheets/bootstrap/scss/bootstrap.scss";
//@import "{}/imports/ui/stylesheets/custom_sidebar.css";
//@import "{}/imports/ui/stylesheets/navbar-fixed-side.css";

#content {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.body {
  height: 100%;
}

.details {
  width: 80%;
  display: flex;
}
.row.vdivide [class*="col-"]:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 28em;
}

#list-rooms {
  margin-left: -2.5em;
  text-align: center;
}
.room.btn.btn-default {
  margin-left: -2.5em;
  width: 12em;
  height: 5em;
}

.waiting {
  background-color: orange;
}
.finished {
  background-color: red;
}
.onprogress {
  background-color: green;
}
#results_div {
  display: none;
}
#rooms_div {
  display: inline-block;
  vertical-align: middle;
}

.exitroom.btn.btn-danger {
  color: black;
  margin-top: 2em;
  margin-left: -2.5em;
  width: 12em;
  height: 5em;
}
#info_rooms {
  margin-left: -2em;
  margin-right: 1em;
  margin-top: 2em;
}
