<template name="chatrooms">
    <div class="container-fluid">
        <div class="row vdivide">
            <div class="col-xs-4 col-md-2" id="rooms_div">
                <h3>Rooms</h3>


                <ul class="list-rooms center-block">
                    {{#if chatroomAssistant}}
                    <button class="room center-block btn btn-default {{chatroomAssistant.status}}" type="submit" name="submit" value="{{ chatroomAssistant._id}}"><i class="fa fa-phone"></i>
                        {{chatroomAssistant.kioskID}}</button> {{else}}
                    <div class="alert alert-info" id="info_rooms">
                        <p>Não existem salas em espera</p>
                    </div>
                    {{/if}}
                    <button class="exitroom btn btn-danger">Exit</button>
                </ul>
            </div>
            <div class="col-xs-6 col-md-6 ">
                <div class="row">
                    <h3 style="padding-left: 1em">Results</h3>

                    <div id="results_div">
                        {{> reactiveTable collection=getPatient settings=settings}}

                        <h3>Historic</h3>
                        grafico historico...</div>
                </div>
            </div>
            <div class="col-xs-4 col-md-4">
                <h3>Call</h3>
                <iframe src="{{ frameURL }}" class="embed-responsive-item" id="frameVideo" width="360px" height="360px" frameborder="0" webkitallowfullscreen
                    mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>
</template>