<template name="App_nav">
    <nav class="navbar navbar-default navbar-fixed-top" id="top-bar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="#">HKBO</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{{isActiveRoute 'dashboard'}}"><a href="/dashboard">Dashboard</a></li>
                    <li class="{{isActiveRoute 'profile'}}"><a href="/profile">Profile</a></li>
                    <li class="{{isActiveRoute 'videocall'}}"><a href="/videocall">Call</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#if currentUser }}
                    <li><a href="/logout">Logout</a></li> {{/if}}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
</template>