<template name="status">
    <div class="container">
        <h1>Online Practitioners </h1>
        <ul>
            {{#each usersOnline}}
            <button class="btn  btn-default"> {{_id}} {{username}} {{profile.role.specialty}}</button> {{/each}}
        </ul>
        There are currently {{usersOnlineCount}} users online.
        <h2> Specialty: X</h2>
        {{#each roleUsersOnline 'X'}} {{profile.firstName}} {{/each}}
        <h2> Language: PT</h2>
        {{#each languageUsersOnline 'PT'}} {{username}} {{/each}}
        <!--h2> Language: PT and Specialty:X</h2>
        {{#each roleLanguageUsersOnline X PT}} {{profile.firstName}} {{/each}}-->


    </div>
    <form class="submit-search">
        <label for="language">Language</label>
        <input type="text" name="language" value="">
        <label for="specialty">Specialty</label>
        <input type="text" name="specialty" value="">
        <input class="btn btn-primary" type="submit" name="submit" value="Search"> </form>
</template>