<template name="App_dashboard">
  <div class="page-header">
    <h1>Dashboard</h1>
  </div>

  <div class="container">
    <h3>Rooms</h3>
    {{> chatrooms}} {{> status}}
    <h2>testes</h2>
  </div>





</template>