<template name="App_body">

  <div class="nav">
    {{> Template.dynamic template=nav}}
  </div>



  <div class="sidenav">
    {{> Template.dynamic template=sidebar}}
  </div>

  <div class="container well" id="content">
    {{> Template.dynamic template=main}}
  </div>



  <!--<div id="footer ">
    {{> Template.dynamic template=footer}}

  </div>-->

</template>