<template name="App_notFound">
  <div id="not-found container ">

    <div class="not-found-title">
      <h1>Sorry, that page doesn't exist</h1>
      <a href="/dashboard" class="gotohomepage">Go to home</a>
    </div>
  </div>
</template>