<template name="account">

    <div class="details"> {{#autoForm collection="Meteor.users" schema=getSchema id="updateusers" type="update" doc=currentUser omitFields="createdAt,services,roles,heartbeat"}}
        <fieldset>

            {{> afQuickField name='profile.firstName' label='First Name'}} {{> afQuickField name='profile.lastName' label='Last Name'}}
            {{> afQuickField name='profile.gender'}} {{> afQuickField name='profile.country.name' label='Country'}} {{>afQuickField
            name='profile.role.organization'}} {{> afQuickField name='profile.role.specialty'}} {{> afQuickField name='profile.role.location'}}
            {{> afQuickField name='profile.language'}} {{> afQuickField name='profile.birthDate' label='Birthdate' type=date}}
            {{> afQuickField name='profile.role.assistantType' type="select" label='Assistant Type'}}
            
        </fieldset>
        <button type="submit" class="btn btn-primary">Update Profile</button>{{/autoForm}}
    </div>
</template>